@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7rem;
    width: 100%;
    overflow: none;
}
#container{
  display: grid;
  justify-content: center;
  margin: 10%;
  width: 70%;
}
input{
  background-color: skyblue;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  border-bottom-style: ridge;
  border-bottom-color: rgb(60, 6, 255);
}
span{
  font-weight: bold;
}
#button {
  display: block;
  margin: 20px auto;
  background-color: rgb(60, 6, 255);
  border: none;
  color: white;
  width: auto;
  text-align: center;
  padding: 8px;
  border-radius: 5px;;
}
.question{  
  margin-top: 10px;
  text-align: center;
  background-color: skyblue;
  padding: 10px;
  box-shadow: 6px 6px 6px #555;
  padding: 5px;
}